In [1]:
import simulation as sim
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [286]:
_xx = LogisticRegression()

In [295]:
type(_list_models[0]).__name__

'LogisticRegression'

In [293]:

_xx.warm_start()

TypeError: 'bool' object is not callable

In [281]:
LogisticRegression.mro()[0]

sklearn.linear_model._logistic.LogisticRegression

In [283]:
_list_models[0].

AttributeError: 'LogisticRegression' object has no attribute 'mro'

In [253]:
#Names
# _list_databases_name = ['database1']
_list_models_name = [
    'Logistic Regression'
]


_list_databases_training = []
_list_databases_test = []
_list_databases_name = []


_list_simulation_samples = [] #list of list


_list_models = [
    LogisticRegression(random_state=0)
]


# _model_output = [

#     #Name:
#     [
#         #dbs...
#         [   
#             #simulations
#             [
#                 #model
#                 [

#                 ]

#             ]            
#         ]
#     ],



#     #Qtd of Labels:
#     [
#         #dbs...
#         [   
#             #simulations
#             [
#                 #model
#                 [

#                 ]

#             ]            
#         ]
#     ],

#     #Accuracy:
#     [
#         #dbs...
#         [   
#             #simulations
#             [
#                 #model
#                 [

#                 ]

#             ]            
#         ]
#     ],
# ]




_model_output = [

    #Name in the following strucutre: 

    [

        # "Dataset Name | Simulation Name | Model Name"

    ],


    #Qtd of Labels:
    [

    ],

    #Accuracy:
    [
 
    ],
]

In [254]:
# DATABASE + SAMPLE:
_error = False
i = 1
while _error == False:

    try:
        _path_training = 'data/dataset_' + str(i) + '/processed/training/df.csv'
        _path_test = 'data/dataset_' + str(i) + '/processed/test/df.csv'


        df_training = pd.read_csv(_path_training)
        df_test = pd.read_csv(_path_test)
     

        _list_databases_training.append(df_training)
        _list_databases_test.append(df_test)
        _list_databases_name.append('database_' + str(i))



        i = i +1

    except:
        _error = True

In [255]:
_list_databases_name

['database_1']

In [256]:
_list_databases_training[0]

,sample_id,names,X1,X2,manual_label,labels,tsn_1,tsn_2,tsn_3,tsn_4,tsn_5,tsn_6
0,1,11.png,-12.140792,-3.005025,-,9,-20.138219,8.722197,-2.192292,6.226294,1.141958,12.539981
1,2,67.png,-0.343389,21.169314,-,8,-2.609210,0.278741,5.310276,-1.593806,0.504054,-21.134385
2,3,92.png,-24.071441,2.755267,-,4,-19.316880,9.168161,-0.739780,-7.175363,0.727927,-8.984532
3,4,143.png,-12.462919,4.813755,-,4,-19.433916,7.905950,2.473596,-3.513868,3.719169,17.211433
4,5,159.png,24.704714,12.661666,-,6,27.122621,-11.382759,-0.335082,-20.375857,-3.170687,-11.818800
...,...,...,...,...,...,...,...,...,...,...,...,...
595,596,25589.png,1.944239,7.828915,-,1,7.521208,12.240008,-1.114136,-1.539621,-4.279937,6.770834
596,597,25735.png,8.848954,-15.350539,-,5,-1.907617,-15.327768,0.897048,4.451624,-7.096788,-6.554065
597,598,25771.png,20.809282,8.662752,-,6,26.409124,-12.214352,-5.190004,-12.181389,-3.843709,-5.005416
598,599,25828.png,17.910019,-6.569459,-,5,10.680495,-9.225677,5.022572,-0.575978,-4.842841,-18.326210
599,600,25869.png,17.863944,3.962876,-,6,18.480775,-8.405411,-4.894103,-12.467911,-5.912239,-8.455587

In [257]:
_list_databases_test[0]

,sample_id,names,X1,X2,manual_label,labels,tsn_1,tsn_2,tsn_3,tsn_4,tsn_5,tsn_6
0,601,25895.png,8.606181,3.712231,-,1,8.119115,9.607861,-5.338228,-4.246046,-10.275189,-4.740141
1,602,25945.png,-22.155696,-2.295570,-,9,-28.255251,9.624796,-3.237398,1.525049,2.949544,-4.735782
2,603,26016.png,27.955822,-1.602836,-,0,25.939780,-23.938897,0.278443,3.290211,0.146724,2.510815
3,604,26025.png,12.836821,-8.692057,-,3,4.610268,-8.028374,12.176372,3.200511,-6.739687,-17.110702
4,605,26038.png,-18.526806,2.220697,-,4,-26.296421,8.078058,1.347806,-4.543059,4.086656,1.270361
...,...,...,...,...,...,...,...,...,...,...,...,...
383,984,41709.png,26.059380,13.306919,-,6,25.258251,-10.220926,0.576519,-21.243225,-3.662091,-13.990673
384,985,41764.png,23.157776,5.367370,-,6,28.215183,-14.045702,-6.917757,-14.164772,-5.786173,-5.449196
385,986,41902.png,11.706068,22.686881,-,2,8.601284,-1.526957,6.090936,12.498614,12.599379,18.169541
386,987,41945.png,-17.166029,-11.982942,-,7,-25.343251,20.033353,-7.833563,5.472192,2.574901,2.847764
387,988,41992.png,-32.566888,0.245874,-,9,-22.321140,8.967947,-0.487118,-9.062128,8.469384,-20.674587

# DEL 2

In [258]:
import random

In [259]:
random.sample(range(100), 1)[0]/100

0.38

In [260]:
_list_simulation_sample_name = ['NSS', 'SPB','DEN', 'OUT']
for i_db in range(len(_list_databases_training)):

    _list_simulation_samples.append([])

    #NSS:
    #_temp_list = sim.f_NSS(_list_databases_training[i_db])
    #_list_simulation_samples[i_db].append(_temp_list)
    _list_simulation_samples[i_db].append(random.sample(range(600), 600))    
    

    #SPB:
    #_temp_list = sim.f_NSS(_list_databases_training[i_db])
    #_list_simulation_samples[i_db].append(_temp_list)
    _list_simulation_samples[i_db].append(random.sample(range(600), 600))    

    #DEN:
    #_temp_list = sim.f_DEN(_list_databases_training[i_db])
    #_list_simulation_samples[i_db].append(_temp_list)    
    _list_simulation_samples[i_db].append(random.sample(range(600), 600))        

    #OUT:
    #_temp_list = sim.f_OUT(_list_databases_training[i_db])
    #_list_simulation_samples[i_db].append(_temp_list)    
    _list_simulation_samples[i_db].append(random.sample(range(600), 600))

In [261]:
print (len(_list_simulation_samples))
print (len(_list_simulation_samples[0]))
print (len(_list_simulation_samples[0][0]))
print (len(_list_simulation_samples[0][1]))
print (len(_list_simulation_samples[0][2]))
print (len(_list_simulation_samples[0][3]))

1
4
600
600
600
600

In [262]:
# ML FRAMEWORK
for i_db in range(len(_list_databases_training)):
#     for i_sim_db in range(len(_list_simulation_sample_name)):        
    for i_sim_samples in range(len(_list_simulation_samples[i_db])):
        for i_model in range(len(_list_models)):            

            _db = _list_databases_training[i_db]
            _db_test = _list_databases_test[i_db]
            _samples = _list_simulation_samples[i_db][i_sim_samples]
#             _model = _list_models[i_model]

            _temp_X_columns = list(_db.loc[:,_db.columns.str.startswith("X")].columns)

#             print("db = ", _db.shape)
#             print("_db_test = ", _db_test.shape)
#             print("_samples = ", len(_samples), " ==" , _samples[0:5])
#             print("------------------\n")
      
    
            print("db = ", i_db)
            print("simulation = ", i_sim_samples)
            print("model = ", i_model)
            print("------------------\n")
            
            
            

#             #Framework de Accuracy
#             for i in range(len(_samples)):

#                 _samples_temp = _samples[0:i+1]

#                 #prepara X and y
#                 X_train = _db[_db['sample_id'].isin(_samples_temp)].loc[:,_temp_X_columns]
#                 y_train_true = _db[_db['sample_id'].isin(_samples_temp)].loc[:,'label']

#                 #FIT - train model:
#                 _list_models[i_model].fit(X_train, y_train_true)

#                 #db test (evaluation):
#                 X_test = _db_test.loc[:,_temp_X_columns]
#                 y_test_true = _db_test.loc[:,'label']

#                 #Predict:
#                 y_test_predict = _list_models[i_model].predict_proba()

#                 #Accuracy Results 
#                 _results_accuracy = accuracy_score(y_test_true, y_test_predict)
                    # LIS OT ACCURACY!!!!!!!
            # LITS:
            _label_numbers = np.arange(1, 301, 1).tolist()
            _results_accuracy = random.sample(range(15), 15)

            #OUTPUT:
            #name:
            _name_temp = _list_databases_name[i_db] + ' | ' + _list_simulation_sample_name[i_sim_samples] + ' | ' + _list_models_name[i_model]
            _model_output[0].append(_name_temp)
            #qtd_lablls
            #dbs...
#             _model_output[1].append([[]])                
            _model_output[1].append(_label_numbers)
            #accuracy
#             _model_output[2].append([[]])                
            _model_output[2].append(_results_accuracy)

db =  0
simulation =  0
model =  0
------------------

db =  0
simulation =  1
model =  0
------------------

db =  0
simulation =  2
model =  0
------------------

db =  0
simulation =  3
model =  0
------------------

In [269]:
_model_output[0][1]

'database_1 | SPB | Logistic Regression'

In [274]:
_model_output[2][3]

[11, 1, 2, 14, 6, 3, 5, 4, 9, 10, 0, 13, 12, 7, 8]

In [249]:

_model_output = [

    #Name in the following strucutre: 

    [

        # "Dataset Name | Simulation Name | Model Name"

    ],


    #Qtd of Labels:
    [

    ],

    #Accuracy:
    [
 
    ],
]

In [250]:
_model_output

[[], [], []]

In [251]:
_model_output[0].append("Combination 1")
_model_output

[['Combination 1'], [], []]

In [ ]:
_model_output[1].append()
_model_output

In [242]:
print (i_db)
print (i_sim_samples)
print (i_model)

0
1
0

In [248]:
_model_output[1][0]

[[[1,
   2,
   3,
   4,
   5,
   6,
   7,
   8,
   9,
   10,
   11,
   12,
   13,
   14,
   15,
   16,
   17,
   18,
   19,
   20,
   21,
   22,
   23,
   24,
   25,
   26,
   27,
   28,
   29,
   30,
   31,
   32,
   33,
   34,
   35,
   36,
   37,
   38,
   39,
   40,
   41,
   42,
   43,
   44,
   45,
   46,
   47,
   48,
   49,
   50,
   51,
   52,
   53,
   54,
   55,
   56,
   57,
   58,
   59,
   60,
   61,
   62,
   63,
   64,
   65,
   66,
   67,
   68,
   69,
   70,
   71,
   72,
   73,
   74,
   75,
   76,
   77,
   78,
   79,
   80,
   81,
   82,
   83,
   84,
   85,
   86,
   87,
   88,
   89,
   90,
   91,
   92,
   93,
   94,
   95,
   96,
   97,
   98,
   99,
   100,
   101,
   102,
   103,
   104,
   105,
   106,
   107,
   108,
   109,
   110,
   111,
   112,
   113,
   114,
   115,
   116,
   117,
   118,
   119,
   120,
   121,
   122,
   123,
   124,
   125,
   126,
   127,
   128,
   129,
   130,
   131,
   132,
   133,
   134,
   135,
   136,
   137,
   138,
   139,
   140,
   141,
   142,
   143,
   144,
   145,
   146,
   147,
   148,
   149,
   150,
   151,
   152,
   153,
   154,
   155,
   156,
   157,
   158,
   159,
   160,
   161,
   162,
   163,
   164,
   165,
   166,
   167,
   168,
   169,
   170,
   171,
   172,
   173,
   174,
   175,
   176,
   177,
   178,
   179,
   180,
   181,
   182,
   183,
   184,
   185,
   186,
   187,
   188,
   189,
   190,
   191,
   192,
   193,
   194,
   195,
   196,
   197,
   198,
   199,
   200,
   201,
   202,
   203,
   204,
   205,
   206,
   207,
   208,
   209,
   210,
   211,
   212,
   213,
   214,
   215,
   216,
   217,
   218,
   219,
   220,
   221,
   222,
   223,
   224,
   225,
   226,
   227,
   228,
   229,
   230,
   231,
   232,
   233,
   234,
   235,
   236,
   237,
   238,
   239,
   240,
   241,
   242,
   243,
   244,
   245,
   246,
   247,
   248,
   249,
   250,
   251,
   252,
   253,
   254,
   255,
   256,
   257,
   258,
   259,
   260,
   261,
   262,
   263,
   264,
   265,
   266,
   267,
   268,
   269,
   270,
   271,
   272,
   273,
   274,
   275,
   276,
   277,
   278,
   279,
   280,
   281,
   282,
   283,
   284,
   285,
   286,
   287,
   288,
   289,
   290,
   291,
   292,
   293,
   294,
   295,
   296,
   297,
   298,
   299,
   300]]]

In [188]:
i_model

0

In [218]:
type(_label_numbers)

list

In [209]:
len(_model_output[1])

2

In [213]:
_model_output[1][1]

[[[]]]

In [231]:
print (i_db)
print (i_sim_samples)
print (i_model)

0
0
0

In [193]:
_model_output[1][0]

[[[[1,
    2,
    3,
    4,
    5,
    6,
    7,
    8,
    9,
    10,
    11,
    12,
    13,
    14,
    15,
    16,
    17,
    18,
    19,
    20,
    21,
    22,
    23,
    24,
    25,
    26,
    27,
    28,
    29,
    30,
    31,
    32,
    33,
    34,
    35,
    36,
    37,
    38,
    39,
    40,
    41,
    42,
    43,
    44,
    45,
    46,
    47,
    48,
    49,
    50,
    51,
    52,
    53,
    54,
    55,
    56,
    57,
    58,
    59,
    60,
    61,
    62,
    63,
    64,
    65,
    66,
    67,
    68,
    69,
    70,
    71,
    72,
    73,
    74,
    75,
    76,
    77,
    78,
    79,
    80,
    81,
    82,
    83,
    84,
    85,
    86,
    87,
    88,
    89,
    90,
    91,
    92,
    93,
    94,
    95,
    96,
    97,
    98,
    99,
    100,
    101,
    102,
    103,
    104,
    105,
    106,
    107,
    108,
    109,
    110,
    111,
    112,
    113,
    114,
    115,
    116,
    117,
    118,
    119,
    120,
    121,
    122,
    123,
    124,
    125,
    126,
    127,
    128,
    129,
    130,
    131,
    132,
    133,
    134,
    135,
    136,
    137,
    138,
    139,
    140,
    141,
    142,
    143,
    144,
    145,
    146,
    147,
    148,
    149,
    150,
    151,
    152,
    153,
    154,
    155,
    156,
    157,
    158,
    159,
    160,
    161,
    162,
    163,
    164,
    165,
    166,
    167,
    168,
    169,
    170,
    171,
    172,
    173,
    174,
    175,
    176,
    177,
    178,
    179,
    180,
    181,
    182,
    183,
    184,
    185,
    186,
    187,
    188,
    189,
    190,
    191,
    192,
    193,
    194,
    195,
    196,
    197,
    198,
    199,
    200,
    201,
    202,
    203,
    204,
    205,
    206,
    207,
    208,
    209,
    210,
    211,
    212,
    213,
    214,
    215,
    216,
    217,
    218,
    219,
    220,
    221,
    222,
    223,
    224,
    225,
    226,
    227,
    228,
    229,
    230,
    231,
    232,
    233,
    234,
    235,
    236,
    237,
    238,
    239,
    240,
    241,
    242,
    243,
    244,
    245,
    246,
    247,
    248,
    249,
    250,
    251,
    252,
    253,
    254,
    255,
    256,
    257,
    258,
    259,
    260,
    261,
    262,
    263,
    264,
    265,
    266,
    267,
    268,
    269,
    270,
    271,
    272,
    273,
    274,
    275,
    276,
    277,
    278,
    279,
    280,
    281,
    282,
    283,
    284,
    285,
    286,
    287,
    288,
    289,
    290,
    291,
    292,
    293,
    294,
    295,
    296,
    297,
    298,
    299,
    300]]]]

In [176]:
import numpy as np

In [155]:
_model_outpa
raut

[['database_1 | NSS | Logistic Regression',
  'database_1 | NSS | Logistic Regression',
  'database_1 | SPB | Logistic Regression'],
 [[[[2, 2]]], [[[]]], [[[]]]],
 [[[[0.49]]], [[[]]]]]

In [129]:
_model_output[0]

[[], [], []]

In [118]:
_model_output

[['database_1 | OUT | Logistic Regression'], [[[[]]]], [[[[]]]]]

In [117]:
i_sim_samples

0

In [116]:
i_db

0

In [115]:
i_model

0

In [105]:
_model_output

[[], [[[[]]]], [[[[]]]]]

In [104]:
_model_output[0] = []

In [110]:
_model_output[0].append(_name)

In [112]:
_model_output[0]

['database_1 | OUT | Logistic Regression']

In [99]:
_model_output[0].append('database_1 | OUT | Logistic Regression')

In [108]:
_name = _list_databases_name[i_db] + ' | ' + _list_simulation_sample_name[i_sim_samples] + ' | ' + _list_models_name[i_model]

In [109]:
_name

'database_1 | OUT | Logistic Regression'

In [85]:
i_sim_samples

3

In [84]:
_model_output[0][i_db][i_sim_samples][i_model]

IndexError: list index out of range

In [80]:
i_model

0

In [79]:
_list_databases_name[i_db] + ' | ' + 
_list_simulation_sample_name[i_sim_samples] + ' | ' + 
_list_models_name[i_model]

'database_1 | OUT | Logistic Regression'

In [60]:
len(_list_databases_training)

1

In [61]:
len(_list_simulation_sample_name)

4

In [62]:
len(_list_simulation_samples[i_db])

4

In [67]:
for i_db in range(len(_list_databases_training)):
#     for i_sim_db in range(len(_list_simulation_sample_name)):        
    for i_sim_samples in range(len(_list_simulation_samples[i_db])):
        print(i_sim_samples)
        print(_list_simulation_sample_name[i_sim_samples])

0
NSS
1
SPB
2
DEN
3
OUT

In [ ]:
for i_sim_db in range(len(_list_simulation_sample_name)):        
    print

In [56]:
_list_simulation_sample_name

['NSS', 'SPB', 'DEN', 'OUT']

In [55]:
i_sim_db

NameError: name 'i_sim_db' is not defined

In [52]:
_list_databases_name[i_db] + ' | ' + _list_simulation_sample_name[i_sim_db] + ' | ' + _list_models_name[i_model]

NameError: name 'i_sim_db' is not defined

In [44]:
i_sim_samples

3

In [48]:
_model_output[0][0][0][0]

[]

In [50]:
i_sim_db

NameError: name 'i_sim_db' is not defined

In [49]:
_list_databases_name[i_db] + ' | ' + _list_simulation_sample_name[i_sim_db] + ' | ' + _list_models_name[i_model]

NameError: name 'i_sim_db' is not defined

# Finish 2

# DELETE

In [ ]:
#NSS:



# import building_blocks as bblocks
# import numpy as np
# import random


# df = 
# sample_selector=None

# _temp_X_columns = list(df.loc[:,df.columns.str.startswith("X")].columns)
# distances, indices = bblocks.func_NSN(_df=df, _columns=_temp_X_columns, _neighbors=df.shape[0] - 1)

# if sample_selector == None:
#     sample_selector = random.randrange(*sorted([0,df.shape[0]]))

# indices_from_sample = np.insert(indices[sample_selector], 0, sample_selector)

# return list(indices_from_sample)

In [ ]:
# indices

In [ ]:
# func_SPB()

In [ ]:
# #SPB:

# import random
# import building_blocks as bblocks

# df = _list_databases_training[0]
# samples_with_label=None



# if samples_with_label == None:
#     samples_with_label = []
#     samples_with_label.append(random.randrange(*sorted([0,df.shape[0]])))


# Vc = df[~df['sample_id'].isin(samples_with_label)].reset_index(drop=True)
# Vt = df[df['sample_id'].isin(samples_with_label)].reset_index(drop=True)
# Vt['manual_label'] = Vt['labels']

# _temp_X_columns = list(df.loc[:,df.columns.str.startswith("X")].columns)

# # _sample_id = random.randrange(0,Vt.shape[0]-1)
# # df['label'][df['sample_id'] == _sample_id] = 2

# _list_choices = []
# for i in range(Vc.shape[0] - 1):   

#     Vc = df[~df['sample_id'].isin(samples_with_label)].reset_index(drop=True)
#     Vt = df[df['sample_id'].isin(samples_with_label)].reset_index(drop=True)

#     _max_dis, _can = bblocks.func_SPB(Vc.loc[:,_temp_X_columns].values, Vt.loc[:,_temp_X_columns].values, index=Vc['sample_id'].values)     

#     samples_with_label.append(_can)
#     _list_choices.append(_can)        


# _list_choices

# FINISH

In [10]:
# _list_simulation_sample_name = ['NSS', 'SPB','DEN', 'OUT']
# for i_db in range(len(_list_databases_training)):

# #     _list_simulation_samples.append([])

#     #NSS:
#     _temp_list = sim.f_NSS(_list_databases_training[i_db])
#     _list_simulation_samples[i_db].append(_temp_list)

#     #SPB:
#     _temp_list = sim.f_SPB(_list_databases_training[i_db])
#     _list_simulation_samples[i_db].append(_temp_list)

#     #DEN:
#     _temp_list = sim.f_DEN(_list_databases_training[i_db])
#     _list_simulation_samples[i_db].append(_temp_list)    

#     #OUT:
#     _temp_list = sim.f_OUT(_list_databases_training[i_db])
#     _list_simulation_samples[i_db].append(_temp_list)

In [12]:
# len(_list_simulation_samples[0][3])

In [ ]:
# ML FRAMEWORK
for i_db in range(len(_list_databases_training)):
    for i_sim_db in range(len(_list_simulation_samples[i_db])):        
        for i_sim_samples in range(len(_list_simulation_samples[i_db])):
            for i_model in range(len(_list_models)):            

                _db = _list_databases_training[i_db]
                _db_test = _list_databases_test[i_db]
                _samples = _list_simulation_samples[i_db][i_sim_samples]
                _model = _list_models[i_model]

                _temp_X_columns = list(_db.loc[:,_db.columns.str.startswith("X")].columns)
                
                #Framework de Accuracy
                for i in range(len(_samples)):

                    _samples_temp = _samples[0:i+1]

                    #prepara X and y
                    X_train = _db[_db['sample_id'].isin(_samples_temp)].loc[:,_temp_X_columns]
                    y_train_true = _db[_db['sample_id'].isin(_samples_temp)].loc[:,'label']

                    #FIT - train model:
                    _list_models[i_model].fit(X_train, y_train_true)
                                        
                    #db test (evaluation):
                    X_test = _db_test.loc[:,_temp_X_columns]
                    y_test_true = _db_test.loc[:,'label']

                    #Predict:
                    y_test_predict = _list_models[i_model].predict_proba()
                    
                    #Accuracy Results 
                    _results_accuracy = accuracy_score(y_test_true, y_test_predict)

                    #OUTPUT:
                    #name:
                    _model_output[0][i_db][i_sim_samples][i_model].append(_list_databases_name[i_db] + ' | ' + _list_simulation_sample_name[i_sim_db] + ' | ' + _list_models_name[i_model])
                    #qtd_lablls
                    _model_output[1][i_db][i_sim_samples][i_model].append(i)
                    #accuracy
                    _model_output[2][i_db][i_sim_samples][i_model].append(_results_accuracy)